<table class="table">
  <thead id="email_table">
    <tr>
      <th class="col-1" scope="col">#</th>
      <th class="col-4" scope="col">Liste des emails</th>
      <th scope="col">Email selectionné</th>
    </tr>
  </thead>

  <tbody id="email_table_body">
    <%emails.order(id:'asc').each.with_index do |email,i|%>
      <% if i == 0%>
        <tr id='email-<%=email.id%>'>
          <th scope="row" class='<%= email_class(email) %>'><%=i + 1%></th>
          <td class='<%= email_class(email) %>'><%=link_to email.object, email_path(email), remote: true, class:email_class(email)  %></td>
          <td id="selected_mail" rowspan='<%= emails.size%>'></td>
        </tr>
      <%else%>
        <tr id='email-<%=email.id%>'%>
          <th class='<%= email_class(email) %>' scope="row"><%=i + 1%></th>
          <td class='<%= email_class(email) %>' ><%=link_to email.object, email_path(email), remote: true, class:email_class(email) %></td>
        </tr>
      <%end%>
    <%end%>
  </tbody>
</table>